/.idea/
/digi-tailor-eureka-server/logs/
/digi-tailor-eureka-server/build/
/digi-tailor-api-gateway/logs/
/digi-tailor-api-gateway/build/
/digi-tailor-customer-api/logs/
/digi-tailor-customer-api/build/
/digi-tailor-dress-api/logs/
/digi-tailor-dress-api/build/
/digi-tailor-help-api/logs/
/digi-tailor-help-api/build/
/digi-tailor-invoice-api/logs/
/digi-tailor-invoice-api/build/
/digi-tailor-measurement-api/logs/
/digi-tailor-measurement-api/build/
/digi-tailor-shop-api/logs/
/digi-tailor-shop-api/build/
/digi-tailor-user-api/logs/
/digi-tailor-user-api/build/
/digi-tailor-model/build/
/digi-tailor-util/build/
